<div class="card border-info">
  <div class="card-header">
    <div class="row">
      <div class="col-md-11"> Concepts </div>
      <div class="col-md-1 float-md-right actions">  
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a href="#"> <i class="fa fa-plus" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover table-bordered" *ngIf="concepts?.length">
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Reference URL</th>
      </tr>
      <tr *ngFor="let cencept of concepts">
        <td>{{ cencept.title }}</td>
        <td>{{ cencept.desc }}</td>
        <td><a [href]="cencept.ref_url" target="_blank"> Reference </a></td>
      </tr>
    </table>
  </div>
</div>