<div class="header" *ngIf="LoggedIn">
  <a href="#default" class="logo">
    <img src="../assets/images/logo.jpg" height="50px"/>
  </a>
  <div class="header-right">
    <a routerLink="/skills" class="">Skills</a>
    <a routerLink="/skills/new" class=""> Add New Skill</a>
    <a routerLink="/logout"  class="btn btn-danger btn-sm" (click)=" logout()">Logout</a>
  </div>  
</div>

<div class="header" *ngIf="!LoggedIn">
  <a href="#default" class="logo">
    <img src="../assets/images/logo.jpg" height="50px"/>
  </a>
  <div class="header-right">
    <a routerLink="/register" class="">Sign up</a>
  </div>
</div>

