<div class="card border-info">
  <div class="card-header">
    <div class="row">
      <div class="col-md-11"> Add New Skill</div>
      <div class="col-md-1 float-md-right actions">  
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a routerLink="/skills" *ngIf="skill">
              <i class="fa fa-list text-info" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="col-md-6">
      <form (ngSubmit)="CreateSkill()" *ngIf="skill" #skillForm="ngForm">
        <app-skill-form [skill]="skill"></app-skill-form>
        <button type="submit" class="btn btn-primary" [disabled]="skillForm.invalid">Submit</button>
      </form>      
    </div>
  </div>
</div>

