<div class="row">
  <div class="col-sm-4" *ngFor="let skill of skills;">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> {{skill.name}}</h5>
        <p class="card-text">{{skill.desc}}</p>
        <div class="text-right">
          <a routerLink="/skills/{{skill.id}}" class=""> View Details</a>
        </div>
      </div>
    </div>
    <div class="clearfix"> <br> </div>
  </div>
</div>
