/* You can add global styles to this file, and also import other style files */

input.ng-invalid.ng-dirty { 
  border-left: 5px solid red;
}

input.ng-valid.ng-dirty { 
  border-left: 5px solid green;
}
.has-error { color: red}