<div class="card border-info">
  <div class="card-header">
    <div class="row">
      <div class="col-md-11"> {{ skill?.name }} </div>
      <div class="col-md-1 float-md-right actions">  
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a routerLink="/skills/{{skill.id}}/edit" *ngIf="skill"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item">
            <button (click)="deleteSkill()"><i class="fa fa-trash-o text-danger" aria-hidden="true"></i></button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{skill?.desc }}</p>
      <footer class="blockquote-footer">
          {{skill?.desc }}
      </footer>
    </blockquote>
  </div>
</div>
<br>
<app-concepts></app-concepts>
