<div class="form-group" *ngIf="skill">
  <label for="skill" class="control-label"> * Language/Framework name</label>
  <input type="text" [(ngModel)]="skill.name" name="skillname" class="form-control" required #skillname="ngModel">
  <span class="help-block has-error" *ngIf="skillname.invalid && skillname.dirty"> Skill name is required</span>
</div>

<div class="form-group" *ngIf="skill">
  <label for="desc">Description</label>
  <textarea class="form-control" name="desc" [(ngModel)]="skill.desc"></textarea>
</div>

<div class="form-group">
  <input type="checkbox" [(ngModel)]="isFramework"/> Check if you are adding framework
</div>

<div class="form-group" *ngIf="isFramework">
  <label for="desc">Select Language</label>
  <select *ngIf="skills" name="language_id" [(ngModel)]="skill.language_id" class="form-control">
    <option value="">Please select</option>
    <option *ngFor="let skill of skills" value={{skill.id}} >
      {{ skill.name }}
    </option>
  </select>
</div>
